
@import url('https://fonts.googleapis.com/css?family=Philosopher:100,200,300,400,500,600,700|Muli:100,200,300,400,500,600,700');

body,html{
    height:100%;
}

/* Header */
header {
    display: flex;
}

.float-right {
    float: right;
}

#wrapper {
    background: url("/../assets/images/GBRWxs.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* credit: code to align and size logo and navbar taken from https://stackoverflow.com/questions/53171559/navbar-smaller-than-navbar-brand and edited slightly do fit project needs */
.navbar {
    height: 50px; 
    width: 100%;
    white-space: nowrap;
    background: rgba(92, 24, 24, 0.5);
}

.navbar-brand {
  align-self: flex-start;
}

.navbar-toggler {
    position: absolute;
    left: 75%;
} 

.nav-link {
    color: #F5F1E0;
    font-size: 20px;
    line-height: 22px;
    font-family: "Muli", sans-serif;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

/* Homepage Jumbotron */
.jumbotron {
    background: rgb(148, 41, 41, 0.5);
    margin-top: 26vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#news {
    font-family: "Philosopher", serif;
    color: #F5F1E0;
}

.container p {
    font-family: "Muli", sans-serif;
    font-size: 22px;
    color: #F5F1E0, 
}

.fa-spotify {
    color: rgb(30, 215, 96);
}

/* Media queries */

@media only screen and (min-width: 992px) {
    #wrapper {
        background: url("/../assets/images/GBRWxl2.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}